#overlay_blackout {
  background: #555;
  z-index: 1000;
  display: none; }

.overlay {
  display: none;
  position: absolute;
  z-index: 1100; }

body {
  background-color: #EEE;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 40px; }

#wrapper {
  padding: 30px;
  background: #fff;
  color: #333;
  margin: 0 auto;
  width: 600px; }

#nav {
  float: right;
  top: -80px;
  position: relative;
  font-size: 14px; }
  #nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  #nav li {
    float: left;
    padding-left: 6px; }

a {
  color: #666;
  /*#36428D*/ }

h1 {
  color: #000;
  font-size: 55px;
  padding: 0 0 0;
  line-height: 1em; }
  h1 a {
    color: #000;
    text-decoration: none; }

h2 {
  margin: 50px 0 15px;
  padding: 0 0 10px;
  font-size: 18px;
  border-bottom: 1px dashed #ccc; }
  h2.first {
    margin: 10px 0 15px; }

p {
  margin: 0 0 15px;
  line-height: 22px; }

pre {
  border-left: 1px solid #ddd;
  line-height: 20px;
  margin: 20px;
  padding-left: 1em;
  font-size: 16px; }

pre, code {
  color: #137F80;
  font-family: Courier, monospace; }

ul {
  margin: 15px 30px; }

li {
  line-height: 24px; }

label {
  display: block; }

#footer {
  color: #777;
  font-size: 12px;
  margin: 40px 0 0 0; }
